@import "../../../scss/variables";
.main-section__items-list {
   display: flex;
   font-size: 14px;
   line-height: 130%;
   .item-list__name-works {
      min-width: 757px;
      .name-works__item {
         min-height: 60px;
         border-bottom: 1px solid $colorOfBorder;
         span {
            padding: 21px 0 21px 10px;
            display: inline-block;
         }
         &:last-child {
            border: none;
         }
      }
   }
   .item-list__basic-salary {
      min-width: 200px;
      .basic-salary__item {
         min-height: 60px;
         border-bottom: 1px solid $colorOfBorder;
         span {
            display: inline-block;
            padding: 21px 0 21px 10px;
         }
         &:last-child {
            border: none;
         }
      }
   }
   .item-list__equipment {
      min-width: 200px;
      .equipment__item {
         min-height: 60px;
         border-bottom: 1px solid $colorOfBorder;
         span {
            display: inline-block;
            padding: 21px 0 21px 10px;
         }
         &:last-child {
            border: none;
         }
      }
   }
   .item-list__overheads {
      min-width: 200px;
      .overheads__item {
         min-height: 60px;
         border-bottom: 1px solid $colorOfBorder;
         span {
            display: inline-block;
            padding: 21px 0 21px 10px;
         }
         &:last-child {
            border: none;
         }
      }
   }
   .item-list__estimated-profit {
      // min-width: 441px;
      width: 100%;
      // @media (min-width: 2190px) {
      //    min-width: 34.7%;
      // }
      .estimated-profit__item {
         min-height: 60px;
         border-bottom: 1px solid #414144;
         span {
            display: inline-block;
            padding: 21px 0 21px 10px;
         }
         &:last-child {
            border: none;
         }
      }
   }
}
