.item-list__level {
   min-width: 120px;
   & div:last-child {
      border: none;
   }

   .level__one {
      min-height: 60px;
      border-bottom: 1px solid #414144;
      position: relative;

      &:hover {
         background-color: #414144;
         svg:nth-child(3) {
            display: block;
            position: absolute;
            top: 22px;
         }
         svg:nth-child(4) {
            display: block;
            position: absolute;
            top: 21.5px;
         }
         svg:nth-child(5) {
            display: block;
            position: absolute;
            top: 10px;
         }
      }
      svg:nth-child(1) {
         padding: 22px 0 0px 15px;
      }
      svg:nth-child(2) {
         position: absolute;
         top: 38px;
         left: 22.5px;
      }
      svg:nth-child(3) {
         display: none;
      }
      svg:nth-child(4) {
         display: none;
      }
      svg:nth-child(5) {
         display: none;
      }
   }
   .level__two {
      min-height: 61px;
      border-bottom: 0.1px solid #414144;
      position: relative;
      svg:nth-child(1) {
         padding: 22px 0 0px 35px;
      }
      svg:nth-child(2) {
         position: absolute;
         top: 29px;
         left: 23.6px;
      }
      svg:nth-child(3) {
         position: absolute;
         z-index: 40;
         top: 38px;
         left: 43px;
      }
   }
   .level__document-first {
      position: relative;
      min-height: 60px;
      border-bottom: 1px solid #414144;
      svg:nth-child(1) {
         padding: 22px 0 0px 56px;
      }
      svg:nth-child(2) {
         position: absolute;
         top: 29px;
         left: 44px;
      }
   }
   .level__document-second {
      position: relative;
      min-height: 60px;
      border-bottom: 1px solid #414144;
      svg {
         padding: 22px 0 0px 56px;
      }
      svg:nth-child(2) {
         position: absolute;
         top: 6.4px;
         right: 65px;
      }
   }
}
