@import "../../scss/variables";
.content {
   display: grid;
   grid-template-columns: 234px 1.2fr;
   grid-template-rows: 1fr;
   grid-template-areas:
      "sidebar main"
      "sidebar main"
      "sidebar main";
   grid-area: content;
   &__left-menu {
      grid-area: sidebar;
      padding-top: 42px;
      border-right: 1px solid #414144;
      width: 260px;
      min-height: 100vh;
      .left-menu__item {
         display: flex;
         column-gap: 16.75px;
         height: 32px;
         margin: 0 0 0 22.75px;
         .item__icon {
            justify-self: center;
            align-self: center;
         }
         .item__title {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            justify-self: center;
            align-self: center;
         }
      }
   }
   &__main-section {
      margin: 29px 0 0 27px;
      padding: 0 0 0 10px;
      background-color: #202124;
      width: 89vw;
      max-width: 100%;
      min-height: 100vh;
      .main-section__title-lists {
         font-size: 14px;
         line-height: 130%;
         display: flex;
         color: #a1a1aa;
         min-height: 42px;
         max-width: 100%;
         border-bottom: 1px solid #414144;
         div:nth-child(1) {
            min-width: 120px;
            padding: 11px 0px 12px 8px;
         }
         div:nth-child(2) {
            min-width: 757px;
         }
         div:nth-child(3),
         div:nth-child(4),
         div:nth-child(5) {
            min-width: $widthOfTitleListItems;
         }
         .title-list__item {
            padding: $paddingInTitleList;
         }
      }
   }
}
