.header {
   grid-area: header;
   &__container {
      width: 100%;
      .header__up {
         border-bottom: 1px solid #414144;
         .up__container {
            display: flex;
            justify-content: flex-start;
            margin: 0 30px;
            .up__menu {
               align-self: center;
               margin-right: 25px;
            }
            .up__back-button {
               align-self: center;
            }
            .up__selector {
               display: flex;
               .selector__item {
                  padding-bottom: 12px;
                  margin-left: 28px;
                  margin-top: 12px;
               }
            }
         }
      }
      .header__down {
         display: flex;
         border-bottom: 1px solid #414144;
         height: 45px;
         width: 100%;
         .down__header-menu {
            border-right: 1px solid #414144;
            width: 234px;
            margin: 0px 0px 0px 20px;
            padding: 8px 6px 0px 0;
            display: flex;
            .down__project-name {
               font-style: normal;
               font-weight: 400;
               color: #a1a1aa;
               display: flex;
               flex-direction: column;
               // border: 1px solid #414144;
               .project-name__title {
                  font-size: 14px;
                  line-height: 16px;
               }
               .project-name__abbreviation {
                  font-size: 10px;
                  line-height: 12px;
               }
            }
            .down__chek-mark {
               position: relative;
               left: 90px;
               top: 1px;
            }
         }
         .down__name-content {
            border-right: 1px solid #414144;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
               padding: 11px 15px 12px 15px;
            }
         }
      }
   }
}
