@import "./all";
@import url("http://fonts.cdnfonts.com/css/roboto");

body {
   margin: 0;
   padding: 0;
   background-color: #27272a;
   color: white;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   a {
      text-decoration: none;
      color: inherit;
   }
}

.wrapper {
   display: grid;
   grid-template-columns: 1920px;
   grid-template-rows: 66px 100%;
   grid-template-areas:
      "header header header"
      "content content content";
}
